<!DOCTYPE html>
<HTML>
	<head>
		<link rel="stylesheet" href="/stylesheets/common.css">

		<!-- libraries -->
		<script src="/js/packages/jquery.rateyo.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/packages/jquery.rateyo.min.css">
		<script src="/js/packages/jquery-3.1.1.min.js"></script>

		<title><%= house.address %></title>
	</head>
	<body>
		<div id="container">
			<%- include partials/header %>
			<h1>House</h1>
			<h2>Address: <%= house.address %></h2>
			<h2>Bedrooms: <%= house.bedroom_cnt %></h2>
			<h2>Bathrooms: <%= house.bathroom_cnt %></h2>
			<h2>Parking Spots: <%= house.parking_spot_cnt %></h2>
			<h2>Rent: $<%= "ADD" %></h2>
			<h2>Room Size: <%= house.avg_room_size_rating %></h2>
			<h2>Cleanliness: <%= house.avg_cleanliness_rating %></h2>
			<h2>Overall Rating: <%= house.avg_overall_rating %></h2>

			<h1>House Amenities</h1>
			<% for( i=0; i < house.attributes.length; i++) { %>
				<h2> <%= house.attributes[i].name %> <h2>
			<% } %>

			<h1>Landlord</h1>
			<h2>Name: <%= landlord.name %></h2>
			<% if(landlord.phone_num != "NULL"){ %> <h2>Phone Number: <%= landlord.phone_num %></h2> <% } %>
			<% if(landlord.email != "NULL"){ %> <h2>Email: <%= landlord.email %></h2> <% } %>
			<% if(landlord.website != "NULL"){ %> <h2>Website: <%= landlord.website %></h2> <% } %>
			<h2>Leniency: <%= landlord.avg_leniency_rating %> </h2>
			<h2>Fairness: <%= landlord.avg_fairness_rating %> </h2>
			<h2>Repairs: <%= landlord.avg_repair_rating %></h2>

			<h1>Rent Prices</h1>
			<% for(i = 0; i < house.availability.length; i++){ %>
				<h2>Year: <%= house.availability[i].year %></h2>
				<h2>Rent: <%= house.availability[i].rent %></h2>
				<h2>Available: <%= house.availability[i].available ? "Yes" : "No" %></h2>
			<% } %>
			<%- include partials/footer %>
		</div>
	</body>
</HTML>