<!DOCTYPE html>
<HTML>

<head>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/validator.min.js"></script>
	<script src="/js/review.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

	<!-- Star rating libraries -->
	<script src="/js/jquery.rateyo.min.js"></script>
  	<link rel="stylesheet" href="/stylesheets/jquery.rateyo.min.css">
  	
  	<title>Review <%= title %></title>
</head>
<body>
	<h1>Review <%= title %> </h1>
	<form method="post" onsubmit="return validateForm()" name="review_form">
  		Email:<br>
  		<input type="email" name="email" required><br>
  		Year Rented:<br>
  		<input type="text" name="year" required>ex. 2016-2017<br>
  		<% for(i=0; i<stars.length; i++) { %>
  			<%= stars[i] %>:<br>
  			<div class="stars" id="<%=stars[i]%>"></div><br>
  			<input type="hidden" name="<%=stars[i]%>" value="1">
  		<% } %>
  		Review:<br>
  		<textarea name="message" rows="10" cols="30" required></textarea><br>
  		<input type="hidden" name="title" value="<%=title%>">
  		<input type="submit" value="Submit">
	</form>
</body>
<script>
	$(function () {
	<% for(i=0; i < stars.length; i++) { %>
 		$("#<%=stars[i]%>").rateYo({
 			rating: 1,
    		fullStar: true,
 			onSet: function (rating, rateYoInstance) {
 				document.forms["review_form"]["<%=stars[i]%>"].value = rating;
    		}
  		});
	<% } %>
	});
</script>
</HTML>